#add_object_form {
  display: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 100;
  top: 0;
  text-align: right;
  padding: 15px;
  color: #fff;
}

#add_object_form div { margin-bottom: 10px; }
#add_object_form div input { width: 150px; padding: 5px; background-color: rgba(255, 255, 255, 0.1); color: #fff; border: none; font-size: 12px; letter-spacing: 0.5px; }
#add_object_form #pos_input input { width: 62px; display: inline; margin-left: 5px; }
#add_object_form label { width: 50px; text-transform: uppercase; letter-spacing: 1px; font-size: 12px; margin-right: 7px; }
#add_object_form input[type=button] { border: none; background-color: rgba(255, 255, 255, 0.4); margin-left: 10px; padding: 5px; letter-spacing: 0px; font-size: 11px; text-transform: uppercase; margin-left: 5px; margin-top: 10px; }
