<!DOCTYPE html>
<html>

  <head>
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
  </head>

  <body>
    <div id="info">
        <div class="text">
            <p class="title">SOL</p>
            <p class="stuff">build a universe - discover habitable worlds - create life</p>
            <br>
            <p class="small">DANIEL JIANG</p>
            <p class="small">MUSTAFA ABDELTAWWAB</p>
            <p class="small">SUET LEE</p>

        </div>
        <div class="goto">
            <a href="/universe"><p>START</p></a>
        </div>
    </div>
  </body>

</html>
