<!DOCTYPE html>
<html>

  <head>
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='space.css') }}">
  </head>

  <body>
    <canvas id="draw" width="2080" height="2320"></canvas>
    <script src="{{ url_for('static', filename='universe.js') }}"></script>
    <div id="add_object_form">
      <form name="add_object" id="add_object">
        <fieldset>
          <div id="pos_input">
            <label id="pos_label">Position</label>
            <input type="number" name="xpos_input" id="xpos_input" size=5 value="" disabled />
            <input type="number" name="ypos_input" id="ypos_input" size=5 value="" disabled />
          </div>
          <div id="name_input">
            <label for="name" id="name_label">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              size="30"
              value=""
              class="text-input"
            />
          </div>
          <div id="size_input">
            <label for="size" id="size_label">Size</label>
            <input
              type="number"
              name="size"
              id="size"
              size="30"
              value=""
              class="text-input"
            />
          </div>
          <div id="color_input">
            <label for="color" id="color_label">Color</label>
            <input
              type="color"
              name="color"
              id="color"
              size="30"
              class="text-input"
            />
          </div>
          <input
            type="button"
            name="create"
            class="button"
            id="create_btn"
            value="Create"
          />
          <input
            type="button"
            name="clear"
            class="button"
            id="clear_btn"
            value="Clear"
          />
          <input
            type="button"
            name="cancel"
            class="button"
            id="cancel_btn"
            value="Cancel"
          />
        </fieldset>
      </form>
    </div>  
  </body>

</html>
